<!DOCTYPE html>
<html lang="{{ session_lang|default('en') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title>{{ 'MakeSpace Madrid Budget Voting'|lang }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='react/style.css') }}">
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </div>
    <script type="module" src="{{ url_for('static', filename='react/app.js') }}"></script>
</body>
</html>
